<div class="container">
  <%= form_with(model: @label, local: true) do |f| %>
    <div class="label_form_name">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name %>
    </div>
    <div class="label_form_submit">
      <%= f.submit "S'inscrire" %>
    </div>
  <% end %>
</div>